<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "jack.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Jack Ibarra</h1>
		<p>Welcome to my Blog
		Im creating this Blog In Ruby on Rails.
		If you want to talk with me, Please feel free to write me : Jacksteven7@gmail.com </a></p>
	</div>
</div>